DATABASE_URL=postgresql://user:password@host/db?sslmode=require
JWT_SECRET=some_secret_key
JWT_EXPIRES_IN=30d

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=example@gmail.com
SMTP_PASS=some_password
EMAIL_FROM=EasySplit <example@gmail.com>

PORT=3000
NODE_ENV=development

# App Version Control Settings
APP_MIN_VERSION=1.0.0
APP_LATEST_VERSION=1.0.0
APP_UPDATE_URL=https://easysplit-p6z9.onrender.com
